$brand-primary: #402351;
$brand-warning: #FFBF40;
$brand-highlight: #FFD073;
$brand-success: #23512C;
$brand-danger: #953159;

@function add-tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function add-shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
@function add-alpha($color, $percentage) {
  $decimal: $percentage / 100%;
  $inverse: 1 - $decimal;
  @return transparentize($color, $inverse);
}
