@import "global.scss";
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700');

// Variables
$type: 400 16px/1.6 "Overpass Mono", Consolas, "Andale Mono", Monaco, "Courier New", Courier, monospace;
$base-font-size: 16px;
$font-scale: 1.25; // Major third scale
$h1-size: $base-font-size * $font-scale * $font-scale * $font-scale * $font-scale; // 39.056px
$h2-size: $base-font-size * $font-scale * $font-scale * $font-scale; // 31.248px
$h3-size: $base-font-size * $font-scale * $font-scale; // 25.008px
$h4-size: $base-font-size * $font-scale; // 20px
$h5-size: $base-font-size; // 16px
$h6-size: $base-font-size / $font-scale; // 12.8px

// Element styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: $type;
  margin: 0 auto;
  color: saturate(add-shade($brand-primary, 30%), 5%);
}
h1 {
  font-size: $h1-size;
  font-weight: normal;
  line-height: 1.4;
  // margin-bottom: 22px;
}
h2 {
  font-size: $h2-size;
  font-weight: normal;
  line-height: 1.4;
  // margin-bottom: 18.5px;
}
h3 {
  font-size: $h3-size;
  font-weight: normal;
  line-height: 1.4;
  // margin-bottom: 13.5px;
}
h4 {
  font-size: $h4-size;
  font-weight: normal;
  line-height: 1.4;
  // margin-bottom: 11.5px;
}
h5 {
  font-size: $h5-size;
  font-weight: normal;
  line-height: 1.4;
  // margin-bottom: 9px;
}
h6 {
  font-size: $h6-size;
  font-weight: normal;
  line-height: 1.4;
  // margin-bottom: 8px;
}
li {
  margin-left: 1em;
}
p {
  line-height: 1.5;
  margin-bottom: 0.5em;
}
a {
  color: adjust-hue(add-tint($brand-primary, 30%), -45deg);
}
pre {
  font: 700 16px/1.6 "Overpass Mono", monospace;
}
abbr[title] {
  border-bottom: thin dotted currentColor;
  border-radius: 1px;
  cursor: help;
  text-decoration: none;
}
th {
  text-align: left;
  font-weight: normal;
}
dl.inline-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: visible;
  width: 180px-16px-16px;
}
dl.inline-flex dt {
  flex: 0 0 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
dl.inline-flex dd {
  flex: 0 0 20%;
  margin-left: auto;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
}

input, textarea {
  font: $type;
}

small, .text-small {
  font-size: $base-font-size / $font-scale; // 12.8px
  line-height: 1.6;
}

// Utilities
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.hide {
  display: none;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb0 {
  margin-bottom: 0;
}
.mb1 {
  margin-bottom: 8px;
}
.mr1 {
  margin-right: 8px;
}
.mt1 {
  margin-top: 8px;
}
.mt2 {
  margin-top: 16px;
}
.py05 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.px1 {
  padding-left: 8px;
  padding-right: 8px;
}
.p4 {
  padding: 24px;
}
.pb0 {
  padding-bottom: 0;
}
.pb4 {
  padding-bottom: 24px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.de-emphasized {
  color: desaturate(add-tint($brand-primary, 30%), 40%);
}
.clearfix {
  display: flow-root;
}
.unstyled-list {
  list-style-type: none;
  margin-left: 0;
}
.unstyled-list-item {
  margin-left: 0;
}

// Class styles
.header {
  background-color: saturate(add-shade($brand-primary, 30%), 5%);
  color: add-tint($brand-primary, 70%);
  padding: 24px;
  nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .search-container {
    max-width: 576px;
  }
}
.site-heading-link {
  color: add-tint($brand-primary, 70%);
  text-decoration: none;

  h1 {
    line-height: 1;
  }

  &:hover, &:active, &:focus {
    box-shadow: inset add-tint($brand-primary, 50%) 0px -8px 0px 0px;
  }
}

.subheader {
  align-items: baseline;
  background-color: $brand-primary;
  color: add-tint($brand-primary, 90%);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  h1 {
    margin-right: 24px;
  }
  h2 {
    font-size: $h2-size;
  }
  header {
    display: flex;
    align-items: baseline;
  }
}

.content {
  display: grid;
  padding: 24px;
  grid-gap: 24px;
  justify-content: space-between;
  margin: 0 auto;
  @media (min-width: 960px) {
    .user-settings {
      grid-column: 1;
    }
    .lesson-canvas {
      grid-column: span 2;
    }
    .scores {
      grid-column: 4;
    }
  }
  .user-settings,
  .lesson-canvas,
  .scores {
    background-color: add-tint($brand-primary, 97%);
    border: thin solid add-tint($brand-primary, 70%);
    border-radius: 4px;
    padding: 16px;
  }
}
.lesson-canvas {
  align-items: center;
  display: flex;
  @media (min-width: 960px) {
    min-width: 544px;
  }
}
.user-settings,
.scores {
  max-width: 200px;
}

.material p {
  padding: 0.25em;
}

.input-textarea {
  border-radius: 4px;
  border: 1px solid add-tint($brand-primary, 70%);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px 8px;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  @media (min-width: 960px) {
    width: 480px;
  }
}

.matched {
  background-color: saturate(add-tint($brand-primary, 70%), 30%);
}

.unmatched {
  background-color: add-tint($brand-warning, 50%);
}

label {
  display: inline-block;
  margin-bottom: 8px;
}
.react-numeric-input {
  display: block;
  position: relative;
  input {
    width: 100%;
    &:disabled {
      border: 1px solid add-tint($brand-primary, 85);
      background-color: add-tint($brand-primary, 97);
      color: add-tint($brand-primary, 70);
      & ~ b {
        cursor: default;
        border-color: add-tint($brand-primary, 85) !important;
        background-color: add-tint($brand-primary, 95) !important;
      }
      & ~ b i {
        border-color: transparent transparent add-tint($brand-primary, 75) !important;
      }
      & ~ b:last-child i {
        border-color: add-tint($brand-primary, 75) transparent transparent !important;
      }
    }
  }
  b {
    background-color: desaturate(add-tint($brand-primary, 97%), 50%);
    border-radius: 0px 0px 0px 0px;
    border: 1px solid add-tint($brand-primary, 70%);
    bottom: 0px;
    cursor: pointer;
    position: absolute;
    right: 36px - 1px;
    text-align: center;
    top: 0px;
    width: 36px;
    &:hover {
      background-color: desaturate(add-tint($brand-primary, 90%), 50%);
    }
    &:active,
    &:focus {
      background-color: desaturate(add-tint($brand-primary, 85%), 50%);
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0px;
      height: 0px;
      border-width: 0px 0.6ex 0.6ex;
      border-color: transparent transparent rgba(0, 0, 0, 0.7);
      border-style: solid;
      margin: -0.3ex 0px 0px -0.56ex;
    }
  }
  b:last-child {
    background-color: desaturate(add-tint($brand-primary, 97%), 50%);
    border-radius: 0px 3px 3px 0px;
    border: 1px solid add-tint($brand-primary, 70%);
    bottom: 0px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 36px;
    &:hover {
      background-color: desaturate(add-tint($brand-primary, 90%), 50%);
    }
    &:active,
    &:focus {
      background-color: desaturate(add-tint($brand-primary, 85%), 50%);
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0px;
      height: 0px;
      border-width: 0.6ex 0.6ex 0px;
      border-color: rgba(0, 0, 0, 0.7) transparent transparent;
      border-style: solid;
      margin: -0.3ex 0px 0px -0.56ex;
    }
  }
}
.checkbox-group {
  position: relative;
  display: block;
  margin-bottom: 8px;
}
.checkbox-label {
  padding-left: 24px;
  margin-bottom: 0;
}
.checkbox-input {
  position: absolute;
  margin-top: 2px;
  margin-left: -24px;
  touch-action: manipulation;
}
.form-control {
  display: inline-block;
  border-radius: 4px;
  padding: 4px 8px;
  border: 1px solid add-tint($brand-primary, 70%);
  font-size: 1rem;
  line-height: 1.5;
}
.inline-form-control {
  background-color: add-tint($brand-primary, 10%);
  border-radius: 4px;
  border: 1px solid add-tint($brand-primary, 10%);
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  height: 40px;
  padding: 4px 8px;
  width: 100%;
  &:hover {
    background-color: add-tint($brand-primary, 15%);
  }
  &:active,
  &:focus {
    background-color: add-tint($brand-primary, 90%);
    color: saturate(add-shade($brand-primary, 30%), 5%);
  }
}
.autocomplete-menu {
  background-color: add-tint($brand-primary, 97%);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
  color: saturate(add-shade($brand-primary, 60%), 20%);
  max-height: calc(100% - 118px);
  overflow: auto;
  padding: 2px 0;
  position: fixed;
  z-index: 1;
}
.autocomplete-highlight {
  background-color: $brand-highlight;
}
.link-button {
  background-color: $brand-primary;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  height: 40px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover {
    background-color: add-tint($brand-primary, 10%);
  }
  &:active,
  &:focus {
    background-color: add-tint($brand-primary, 20%);
  }
}
.link-ghost-button {
  border-radius: 4px;
  border: 1px solid transparent;
  color: add-tint($brand-primary, 70%);
  font-size: $h5-size;
  height: 40px;
  padding: 4px 8px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover {
    color: add-tint($brand-primary, 90%);
  }
  &:active,
  &:focus {
    color: add-tint($brand-primary, 50%);
  }
}

.radio-button {
  opacity: 0;
  position: absolute;
  & + label {
    background-color: #fff;
    border: 1px solid add-tint($brand-primary, 70%);
    cursor: pointer;
    float: left;
    margin-right: -1px;
    padding: 4px 8px;
    position: relative;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }
    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
    &:hover:not(disabled) {
      background-color: saturate(add-tint($brand-primary, 30%), 10%);
      color: #fff;
    }
    &:active:not(disabled),
    &:focus:not(disabled) {
      background-color: saturate(add-tint($brand-primary, 20%), 10%);
      color: #fff;
    }
  }
  &:disabled + label {
    background-color: add-tint($brand-primary, 97%);
    border-color: add-tint($brand-primary, 97%);
  }
  &:disabled:checked + label {
    background-color: saturate(add-tint($brand-primary, 70%), 10%);
  }
  &:checked + label {
    background-color: saturate(add-tint($brand-primary, 20%), 10%);
    color: #fff;
  }
  &:hover:not(disabled) + label:before,
  &:active:not(disabled) + label:before,
  &:focus:not(disabled) + label:before,
  &:checked:not(disabled) + label:before {
    content: '';
    border-radius: 0;
    border: 2px solid #fff;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
  }
  &:active:not(disabled) + label:before,
  &:focus:not(disabled) + label:before {
    border: none;
  }
  &:hover + label:first-of-type:before,
  &:active + label:first-of-type:before,
  &:focus + label:first-of-type:before,
  &:checked + label:first-of-type:before {
    border-radius: 3px 0 0 3px;
  }
  &:hover + label:last-of-type:before,
  &:active + label:last-of-type:before,
  &:focus + label:last-of-type:before,
  &:checked + label:last-of-type:before {
    border-radius: 0 3px 3px 0;
  }
}

.steno-stroke {
  background-color: desaturate(add-tint($brand-primary, 10%), 40%);
  color: add-tint($brand-primary, 90%);
  letter-spacing: 0.1em;
  padding-left: 4px;
  padding-right: 4px;
  speak: spell-out;
}
.material {
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 960px) {
    min-width: 480px;
  }
}
.typed-text-container {
  position: relative;
  // overflow: hidden;
}
.typed-text {
  display: none;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 960px) {
    min-width: 480px;
  }
  border: 1px solid $brand-primary;
}
.input-text {
  margin-left: auto;
  margin-right: auto;
  // opacity: 0;
  // position: absolute;
  @media (min-width: 960px) {
    min-width: 480px;
  }
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.stroke-tip {
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 960px) {
    min-width: 480px;
  }
}
.steno-material {
  border-bottom: 2px solid $brand-highlight;
}
.matched.steno-material {
  border-bottom: 2px solid add-tint($brand-success, 50%);
}
.timer-table {
  width: 156px;
}
.link-missing-full-stop:after {
  content: ".";
}
