@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:400,700");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font: 400 16px/1.6 "Overpass Mono", Consolas, "Andale Mono", Monaco, "Courier New", Courier, monospace;
  margin: 0 auto;
  color: #3f264e; }

h1 {
  font-size: 39.0625px;
  font-weight: normal;
  line-height: 1.4; }

h2 {
  font-size: 31.25px;
  font-weight: normal;
  line-height: 1.4; }

h3 {
  font-size: 25px;
  font-weight: normal;
  line-height: 1.4; }

h4 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.4; }

h5 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4; }

h6 {
  font-size: 12.8px;
  font-weight: normal;
  line-height: 1.4; }

li {
  margin-left: 1em; }

p {
  line-height: 2;
  margin-bottom: 1em; }

a {
  color: #656985; }

pre {
  font: 700 16px/1.6 "Overpass Mono", monospace; }

abbr[title] {
  border-bottom: thin dotted currentColor;
  border-radius: 1px;
  cursor: help;
  text-decoration: none; }

th {
  text-align: left;
  font-weight: normal; }

dl.inline-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: visible;
  width: 148px; }

dl.inline-flex dt {
  flex: 0 0 80%;
  overflow: hidden;
  text-overflow: ellipsis; }

dl.inline-flex dd {
  flex: 0 0 20%;
  margin-left: auto;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis; }

input, textarea {
  font: 400 16px/1.6 "Overpass Mono", Consolas, "Andale Mono", Monaco, "Courier New", Courier, monospace; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #c6bdcb;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font: 400 16px/1.6 "Overpass Mono", Consolas, "Andale Mono", Monaco, "Courier New", Courier, monospace;
  line-height: 1.5;
  max-width: 100%;
  padding: 4px 32px 4px 8px !important;
  -webkit-padding-end: 32px !important;
  -webkit-padding-start: 8px !important;
  background-image: linear-gradient(45deg, transparent 60%, #796585 50%), linear-gradient(135deg, #796585 50%, transparent 50%);
  background-position: calc(100% - 16px) calc(1em - 1px), calc(100% - 11px) calc(1em - 1px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat; }

select::-ms-expand {
  display: none; }

small, .text-small {
  font-size: 12.8px;
  line-height: 1.6; }

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.dib {
  display: inline-block; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.items-baseline {
  align-items: baseline; }

.hide {
  display: none; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.mb0 {
  margin-bottom: 0; }

.mb1 {
  margin-bottom: 8px; }

.mb2 {
  margin-bottom: 16px; }

.mr1 {
  margin-right: 8px; }

.mr2 {
  margin-right: 16px; }

.mr3 {
  margin-right: 24px; }

.mt1 {
  margin-top: 8px; }

.mt2 {
  margin-top: 16px; }

.mx1 {
  margin-left: 8px;
  margin-right: 8px; }

.mxn1 {
  margin-left: -8px;
  margin-right: -8px; }

.mxn2 {
  margin-left: -16px;
  margin-right: -16px; }

.mw-1024 {
  max-width: 1024px; }

.mw-568 {
  max-width: 568px; }

.p3 {
  padding: 24px; }

.pb0 {
  padding-bottom: 0; }

.pb4 {
  padding-bottom: 24px; }

.py05 {
  padding-top: 4px;
  padding-bottom: 4px; }

.py3 {
  padding-top: 24px;
  padding-bottom: 24px; }

.px1 {
  padding-left: 8px;
  padding-right: 8px; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.de-emphasized {
  color: #757575; }

.clearfix {
  display: flow-root; }

.unstyled-list {
  list-style-type: none;
  margin-left: 0; }

.unstyled-list-item {
  margin-left: 0; }

.header {
  background-color: #2e173b;
  color: #c6bdcb; }
  .header nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .header .search-container {
    max-width: 576px; }
    @media (max-width: 864px) {
      .header .search-container {
        margin-left: -16px;
        margin-top: 24px; } }

.heading-link {
  color: #c6bdcb;
  text-decoration: none; }
  .heading-link h1 {
    line-height: 1; }
  .heading-link:hover, .heading-link:active, .heading-link:focus {
    color: #ece9ee;
    box-shadow: inset #a091a8 0px -8px 0px 0px; }

.subheader {
  background-color: #402351;
  color: #c6bdcb; }
  .subheader h2 {
    line-height: 1.55; }

.lesson-wrapper {
  display: grid;
  grid-gap: 24px;
  justify-content: space-between;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    .lesson-wrapper .user-settings {
      grid-column: 1; }
    .lesson-wrapper .lesson-canvas {
      grid-column: span 2; }
    .lesson-wrapper .scores {
      grid-column: 4; } }
  .lesson-wrapper .user-settings,
  .lesson-wrapper .lesson-canvas,
  .lesson-wrapper .scores {
    background-color: #f9f8fa;
    border: thin solid #c6bdcb;
    border-radius: 4px;
    padding: 16px; }

.lesson-canvas {
  align-items: center;
  display: flex;
  max-height: 320px; }
  @media (min-width: 1024px) {
    .lesson-canvas {
      min-width: 544px; } }

.user-settings {
  min-height: 320px;
  width: 192px; }

.scores {
  max-height: 320px;
  width: 192px; }

@media (max-width: 1023px) {
  .lesson-canvas {
    order: 1; }
  .user-settings {
    order: 2; }
  .scores {
    order: 3; } }

.material p {
  padding: 0.25em; }

.input-textarea {
  border-radius: 4px;
  border: 1px solid #c6bdcb;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px 8px;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under; }
  @media (min-width: 1024px) {
    .input-textarea {
      width: 480px; } }

.matched {
  background-color: #cbabdd; }

.unmatched {
  background-color: #ffdfa0; }

label {
  display: inline-block;
  margin-bottom: 8px; }

.react-numeric-input {
  display: block;
  position: relative; }
  .react-numeric-input input {
    width: 100%; }
    .react-numeric-input input:disabled {
      border: 1px solid #e2dee5;
      background-color: #f9f8fa;
      color: #c6bdcb; }
      .react-numeric-input input:disabled ~ b {
        cursor: default;
        border-color: #e2dee5 !important;
        background-color: #f5f4f6 !important; }
      .react-numeric-input input:disabled ~ b i {
        border-color: transparent transparent #cfc8d4 !important; }
      .react-numeric-input input:disabled ~ b:last-child i {
        border-color: #cfc8d4 transparent transparent !important; }
  .react-numeric-input b {
    background-color: #f9f9f9;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #c6bdcb;
    bottom: 0px;
    cursor: pointer;
    position: absolute;
    right: 31px;
    text-align: center;
    top: 0px;
    width: 32px; }
    .react-numeric-input b:hover {
      background-color: #ececec; }
    .react-numeric-input b:active, .react-numeric-input b:focus {
      background-color: #e2e2e2; }
    .react-numeric-input b i {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0px;
      height: 0px;
      border-width: 0px 0.6ex 0.6ex;
      border-color: transparent transparent #796585;
      border-style: solid;
      margin: -0.3ex 0px 0px -0.56ex; }
  .react-numeric-input b:last-child {
    background-color: #f9f9f9;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #c6bdcb;
    bottom: 0px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 32px; }
    .react-numeric-input b:last-child:hover {
      background-color: #ececec; }
    .react-numeric-input b:last-child:active, .react-numeric-input b:last-child:focus {
      background-color: #e2e2e2; }
    .react-numeric-input b:last-child i {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0px;
      height: 0px;
      border-width: 0.6ex 0.6ex 0px;
      border-color: #796585 transparent transparent;
      border-style: solid;
      margin: -0.3ex 0px 0px -0.56ex; }

.checkbox-group {
  position: relative;
  display: block;
  margin-bottom: 8px; }

.checkbox-label {
  padding-left: 24px;
  margin-bottom: 0; }

.checkbox-input {
  position: absolute;
  margin-top: 2px;
  margin-left: -24px;
  touch-action: manipulation; }

.radio-group {
  position: relative;
  display: block;
  margin-bottom: 8px; }

.radio-label {
  padding-left: 24px;
  margin-bottom: 0; }

.radio-input {
  position: absolute;
  margin-top: 2px;
  margin-left: -24px;
  touch-action: manipulation; }

.form-control {
  border-radius: 4px;
  border: 1px solid #c6bdcb;
  display: inline-block;
  font-size: 12.8px;
  height: 32px;
  line-height: 1.4;
  padding: 4px 8px; }

.inline-form-control {
  background-color: #533962;
  border-radius: 4px;
  border: 1px solid #533962;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  height: 40px;
  padding: 4px 8px;
  width: 100%; }
  .inline-form-control:hover {
    background-color: #5d446b; }
  .inline-form-control:active, .inline-form-control:focus {
    background-color: #ece9ee;
    color: #2e173b; }

.autocomplete-menu {
  background-color: #f9f8fa;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  color: #1c0925;
  max-height: calc(100% - 118px);
  overflow: auto;
  padding: 2px 0;
  position: fixed;
  z-index: 1; }

.autocomplete-highlight {
  background-color: #FFD073; }

.link-button {
  background-color: #402351;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #c6bdcb;
  height: 40px;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  .link-button:hover {
    background-color: #533962; }
  .link-button:active, .link-button:focus {
    background-color: #664f74; }
  .link-button.link-button-ghost {
    background-color: transparent;
    font-size: 16px;
    text-decoration: underline; }
    .link-button.link-button-ghost:hover {
      color: #ece9ee; }
    .link-button.link-button-ghost:active, .link-button.link-button-ghost:focus {
      color: #a091a8; }

.radio-button {
  opacity: 0;
  position: absolute; }
  .radio-button + label {
    background-color: #fff;
    border: 1px solid #c6bdcb;
    cursor: pointer;
    float: left;
    height: 32px;
    margin-right: -1px;
    padding: 4px 8px;
    position: relative;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap; }
    .radio-button + label:first-of-type {
      border-radius: 4px 0 0 4px; }
    .radio-button + label:last-of-type {
      border-radius: 0 4px 4px 0; }
    .radio-button + label:hover:not(disabled) {
      background-color: #7c5991;
      color: #fff; }
    .radio-button + label:active:not(disabled), .radio-button + label:focus:not(disabled) {
      background-color: #68457e;
      color: #fff; }
  .radio-button:disabled + label {
    background-color: #f9f8fa;
    border-color: #f9f8fa; }
  .radio-button:disabled:checked + label {
    background-color: #c8b7d1; }
  .radio-button:checked + label {
    background-color: #68457e;
    color: #fff; }
  .radio-button:hover:not(disabled) + label:before,
  .radio-button:active:not(disabled) + label:before,
  .radio-button:focus:not(disabled) + label:before,
  .radio-button:checked:not(disabled) + label:before {
    content: '';
    border-radius: 0;
    border: 2px solid #fff;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1; }
  .radio-button:active:not(disabled) + label:before,
  .radio-button:focus:not(disabled) + label:before {
    border: none; }
  .radio-button:hover + label:first-of-type:before,
  .radio-button:active + label:first-of-type:before,
  .radio-button:focus + label:first-of-type:before,
  .radio-button:checked + label:first-of-type:before {
    border-radius: 3px 0 0 3px; }
  .radio-button:hover + label:last-of-type:before,
  .radio-button:active + label:last-of-type:before,
  .radio-button:focus + label:last-of-type:before,
  .radio-button:checked + label:last-of-type:before {
    border-radius: 0 3px 3px 0; }

.steno-stroke {
  background-color: #4e4e4e;
  color: #ece9ee;
  letter-spacing: 0.1em;
  padding-left: 4px;
  padding-right: 4px;
  speak: spell-out; }

.material {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1024px) {
    .material {
      min-width: 480px; } }

.typed-text-container {
  position: relative; }

.typed-text {
  display: none;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #402351; }
  @media (min-width: 1024px) {
    .typed-text {
      min-width: 480px; } }

.input-text {
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  @media (min-width: 1024px) {
    .input-text {
      min-width: 480px; } }

.stroke-tip {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1024px) {
    .stroke-tip {
      min-width: 480px; } }

.steno-material {
  border-bottom: 2px solid #FFD073; }

.matched.steno-material {
  border-bottom: 2px solid #91a896; }

.timer-table {
  width: 156px;
  border-collapse: separate;
  border-spacing: 0 4px; }

.subsection-header {
  background: #f5f4f6;
  border-top: 1px solid #c6bdcb;
  border-bottom: 1px solid #c6bdcb;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px; }

.subsection-header-toggle {
  cursor: pointer;
  background-image: linear-gradient(45deg, transparent 50%, #796585 50%), linear-gradient(135deg, #796585 60%, transparent 50%);
  background-position: calc(100% - 16px) calc(1.25em - 1px), calc(100% - 11px) calc(1.25em - 1px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat; }
  .subsection-header-toggle.collapsed {
    background-image: linear-gradient(135deg, transparent 60%, #796585 50%), linear-gradient(45deg, #796585 50%, transparent 50%);
    background-position: calc(100% - 16px) calc(1.25em - 2px), calc(100% - 11px) calc(1.25em - 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat; }
  .subsection-header-toggle:hover {
    color: #3f264e; }

.link-missing-full-stop:after {
  content: "."; }
