@import "global.scss";
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700|Montserrat:300,300i,700,700i');
// @import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

// Element styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 400 16px/1.6 "Montserrat", "Open Sans", Helvetica, sans-serif;
  margin: 0 auto;
  color: $medium-primary;
}
h1 {
  font-size: 44px;
  line-height: 1.4;
}
h2 {
  font-size: 37px;
  line-height: 1.4;
}
h3 {
  font-size: 27px;
  line-height: 1.4;
}
h4 {
  font-size: 23px;
  line-height: 1.4;
}
h5 {
  font-size: 18px;
  line-height: 1.4;
}
h6 {
  font-size: 16px;
  line-height: 1.4;
}
li {
  margin-left: 1em;
}
p {
  line-height: 1.5;
  margin-bottom: 0.5em;
}
pre {
  font: 700 16px/1.6 "Overpass Mono", monospace;
}

// Class styles
.header {
  background-color: $medium-primary;
  color: #fff;
  padding: 24px;
  nav {
    display: grid;
    grid-gap: 24px;
  }
  .site-heading-banner {
    grid-column: 1;
  }
  nav ul {
    grid-column: 2;
  }
  nav ul li {
    display: inline-block;
  }
}
.site-heading-link {
  color: #fff;
  font-size: 44px;
  text-decoration: none;

  &:hover, &:active, &:focus {
    box-shadow: inset $medium-primary-tint-2 0px -8px 0px 0px;
  }
}

.subheader {
  align-items: baseline;
  background-color: $heavy-primary-shade-1;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  h1 {
    margin-right: 24px;
  }
  h2 {
    font-size: 27px;
  }
}

.custom-message {
  padding: 24px;
}

.content {
  display: grid;
  padding: 0 24px;
  grid-gap: 24px;
  max-width: 1440px;
  .user-settings {
    grid-column: 1;
  }
  .lesson-canvas {
    grid-column: span 2;
  }
  .scores {
    grid-column: 4;
  }
  .user-settings,
  .lesson-canvas,
  .scores {
    background-color: add-tint($medium-tertiary-tint-1, 90);
    border: thin solid $medium-tertiary-tint-2;
    padding: 16px;
  }
}

.material p {
  padding: 0.25em;
}

.input-textarea {
  width: 100%;
}

.matched {
  background-color: mix($heavy-primary-tint-2, #fff, 30);
}

.unmatched {
  background-color: mix($heavy-tertiary-shade-1, #fff, 50);
}

label {
  display: inline-block;
  margin-bottom: 8px;
}
.checkbox-group {
  position: relative;
  display: block;
  margin-bottom: 8px;
}
.checkbox-label {
  padding-left: 24px;
  margin-bottom: 0;
}
.checkbox-input {
  position: absolute;
  margin-top: 8px;
  margin-left: -24px;
  touch-action: manipulation;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
