@import url("https://fonts.googleapis.com/css?family=Overpass+Mono:400,700|Montserrat:300,300i,700,700i");
/* @import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i'); */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font: 400 16px/1.6 "Montserrat", "Open Sans", Helvetica, sans-serif;
  margin: 0 auto;
  color: #321E3E; }

h1 {
  font-size: 44px;
  line-height: 1.4; }

h2 {
  font-size: 37px;
  line-height: 1.4; }

h3 {
  font-size: 27px;
  line-height: 1.4; }

h4 {
  font-size: 23px;
  line-height: 1.4; }

h5 {
  font-size: 18px;
  line-height: 1.4; }

h6 {
  font-size: 16px;
  line-height: 1.4; }

li {
  margin-left: 1em; }

p {
  line-height: 1.5;
  margin-bottom: 0.5em; }

.site-heading {
  font-size: 44px;
  color: #fff; }

.app-header {
  background-color: #321E3E;
  color: #fff;
  padding: 20px;
  text-align: center; }

.main {
  margin: 0 auto;
  max-width: 650px;
  padding: 0 10px; }

.material p {
  padding: 0.25em; }

.input-textarea {
  width: 100%; }

.matched {
  background-color: #e6d1f2; }

.unmatched {
  background-color: #dfc798; }
